<h1>a photo</h1>
<h2>Author: {{author}}</h2>
<img src={{link}}>
<p>{{description}}</p>
<p><a href="/gallery/{{id}}/edit" target"_blank">Edit Post</a> &middot; <a href="/gallery/{{id}}/delete"
        target="_blank">Delete Post</a></p>